<nav class="sidebar">
  <mat-nav-list class="sidebar-list">
    <a mat-list-item routerLink="/">
      <mat-icon class="material-symbols-outlined"> home </mat-icon>
      <span>Início</span>
    </a>
    <a mat-list-item routerLink="/transferencias">
      <mat-icon class="material-symbols-outlined"> wallet </mat-icon>
      <span>Transferências</span>
    </a>
    <a mat-list-item routerLink="/investimentos">
      <mat-icon class="material-symbols-outlined">trending_up</mat-icon>
      <span>Investimentos</span>
    </a>
    <a mat-list-item routerLink="/servicos">
      <mat-icon class="material-symbols-outlined"> grid_view </mat-icon>
      <span>Outros serviços</span>
    </a>

    <a mat-list-item class="logout-item" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </a>
  </mat-nav-list>
</nav>
