<div class="extract-container">
  <h3 class="title">Extrato</h3>

  <div *ngFor="let group of groupedTransactions">
    <h4>{{ group.month }}</h4>

    <div *ngFor="let t of group.transactions" class="transaction">
      <mat-icon
        fontSet="material-symbols-outlined"
        class="icon"
        [ngClass]="{
          income: t.type === 'income',
          expense: t.type === 'expense'
        }"
      >
        {{ t.type === "income" ? "call_received" : "call_made" }}
      </mat-icon>

      <div class="info">
        <span> {{ t.type === "income" ? "Depósito" : "Transferência" }}</span>
        <small>{{ t.date | date : "dd/MM/yyyy" : undefined : "pt-BR" }}</small>
      </div>

      <div
        class="amount"
        [ngClass]="{
          income: t.type === 'income',
          expense: t.type === 'expense'
        }"
      >
        R$ {{ getPositiveAmount(t.amount) | number : "1.2-2" }}
      </div>

      <div class="actions">
        <button (click)="openEditModal(t)">
          <mat-icon class="icon-settings" matTooltip="Editar" fontSet="material-symbols-outlined">edit</mat-icon>
        </button>

        <button color="warn" (click)="deleteTransaction(t.id, t.description)">
          <mat-icon class="icon-settings"  matTooltip="Excluir" fontSet="material-symbols-outlined">delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
