:host {
  display: grid;
  grid-template-rows: 4rem auto; //header na primeira linha, conteúdo flexível na segunda
  grid-template-columns: minmax(200px, 220px) 1fr;
  height: 100vh; //altura total da página
}

app-navbar {
  grid-row: 1 / 2; //header ocupa a primeira linha
  grid-column: 1 / -1; //header ocupa a segunda coluna (ao lado do aside)
}

app-sidebar {
  grid-row: 2 / -1; //aside ocupa as duas linhas (do topo ao rodapé)
  grid-column: 1 / 2; //aside ocupa a primeira coluna
  align-content: start;
}

.main-content {
  grid-row: 2 / -1; //conteúdo ocupa a segunda linha
  grid-column: 2 / -1; //conteúdo ocupa a segunda coluna (ao lado do aside)
  height: 100%;
  overflow-y: auto; //rolagem vertical apenas no conteúdo
  padding: 1.25rem 0.75rem;
  box-sizing: border-box;
}
