.layout {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 4rem auto;
  height: 100vh;
  transition: grid-template-columns 0.3s ease;

  app-navbar {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  app-sidebar {
    grid-column: 1;
    grid-row: 2;
  }

  .main-content {
    grid-column: 2;
    grid-row: 2;
    overflow-y: auto;
    padding: 1rem;
  }

  &.collapsed {
    grid-template-columns: 0px 1fr;

    app-sidebar {
      display: none;
    }
  }

  @media (max-width: 720px) {
    display: block;

    app-sidebar {
      display: block;
    }

    .main-content {
      padding: 1rem;
    }
  }
}
